<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lokasi Admin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../public/css/admin-aset.css" />
  </head>

  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../../public/images/logo.png" class="logo-stmik" />
        </a>
        <a class="navbar-brand-judul" href="#">Manajemen Aset </a>
        <span class="navbar-brand-admin">Admin</span>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-3 sidebar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/dashboard">
                <img
                  src="/images/Dashboard.png"
                  alt="Logo"
                  class="logo-sidebar"
                />
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aset">
                <img src="/images/aset.png" alt="Logo" class="logo-sidebar" />
                Master Data
              </a>
              <ul class="submenu">
                <li class="nav-item">
                  <a class="nav-link" href="/aset">Aset</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/kategori">Kategori</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/jenis">Jenis</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/lokasi">Lokasi</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/laporan">
                <img
                  src="/images/laporan.png"
                  alt="Logo"
                  class="logo-sidebar"
                />
                Laporan
              </a>
            </li>
          </ul>
        </div>

        <div class="col-8 content-box">
          <!-- Konten dalam kotak -->
          <h2>Lokasi</h2>
          <!-- Tombol "Tambah" -->
          <a href="/lokasi/tambah" class="btn btn-primary">Tambah +</a>
          <!-- Elemen tabel -->
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Lokasi</th>
                <th scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% lokasi.forEach(function(lokal) { %>
                <tr>
                  <td><%= lokal.nama_lokasi %></td>
                  <td>
                    <a href="/lokasi/edit/<%= lokal.id %>">Edit</a>
                    <a href="/lokasi/delete/<%= lokal.id %>">Hapus</a>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
