<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tambah Nama Aset Admin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="/css/admin-tambah.css" /> -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/images/logo.png" class="logo-stmik" />
        </a>
        <p class="navbar-brand-judul" href="#">Manajemen Aset</p>
        <div class="user-container">
          <p class="username"><%= userName %></p>
          <div class="logout">
            <a href="/logout" class="btn custom-btn">Logout</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="sidebar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/dashboard/admin">
                <img
                  src="/images/Dashboard.png"
                  alt="Logo"
                  class="logo-sidebar"
                />
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aset">
                <img src="/images/aset.png" alt="Logo" class="logo-sidebar" />
                Master Data
              </a>
              <ul class="submenu">
                <li class="nav-item">
                  <a class="nav-link" href="/aset">Aset</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/kategori">Kategori</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/jenis">Jenis</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/nama/aset">Nama Aset</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/lokasi">Lokasi</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/laporan">
                <img
                  src="/images/laporan.png"
                  alt="Logo"
                  class="logo-sidebar"
                />
                Laporan
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-8 content-box">
          <h2>Tambah Nama Aset</h2>
          <div class="row">
            <div class="col-md-6">
              <form action="/nama/aset/tambah" method="post">
                <div class="form-group">
                  <label for="idJenis">ID Jenis :</label>
                  <select name="idJenis" class="form-select" aria-label="Default select example">
              
                    <option selected>Open this select menu</option>
                    <% jenis.forEach(function(jenis) { %>
                    <option value='<%= jenis.id_jenis%>'><%= jenis.nama_jenis %> : <%= jenis.id_jenis%></option>
                       <% }); %>
                  </select>
               
                </div>
                <!-- <div class="form-group">
                  <label for="idjenis">ID Jenis :</label>
                  <input
                    type="number"
                    id="idjenis"
                    name="idjenis"
                    required
                    class="form-control"
                  />
                </div> -->
                <div class="form-group">
                  <label for="nama-aset">Nama Aset :</label>
                  <input
                    type="text"
                    id="aset"
                    name="aset"
                    required
                    class="form-control"
                  />
                </div>
                <button href="/nama/aset" type="submit" class="btn btn-primary me-2">
                  Tambah
                </button>
                <a href="/nama/aset" class="btn btn-secondary">Batal</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
