body {
  background-color: #edf2f4;
}

.navbar {
  background-color: #e2eef3;
}

.navbar-brand {
  line-height: 33px;
  color: #000000;
  margin-left: 30px;
}

.navbar-brand-judul {
  margin: 0;
  margin-right: 520px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
  color: #665b5b;
  text-decoration: none;
}

.navbar-brand-admin {
  margin-left: auto; /* Mendorong tulisan "Admin" ke sisi kanan */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 33px;
  color: #665b5b;
}

.logo-stmik {
  width: 150px;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 0 0 250px; /* Lebar tetap, tidak fleksibel */
  position: sticky;
  top: 0;
  bottom: 0;
}

.nav-item {
  margin-bottom: 10px;
  position: relative;
  color: #665b5b;
}

.nav-link {
  display: block;
  padding: 10px 20px;
  transition: background-color 0.1s ease;
  text-decoration: none;
  color: #665b5b;
}

.nav-link:visited {
  color: #665b5b; /* Warna teks submenu dan submenu yang sudah dikunjungi */
  text-decoration: none;
  transition: color 0.1s ease;
}
.nav-link:hover {
  background-color: #e2eef3;
  color: #665b5b;
}

/* Sembunyikan submenu secara default */
.submenu {
  display: none;
  padding-left: 20px; /* Tambahkan padding agar terlihat terpisah dari menu utama */
}

/* Tampilkan submenu saat menu "Master Data" dihover */
.nav-item:hover .submenu {
  display: block;
}

/* Gaya untuk submenu item */
.submenu .nav-item {
  margin-bottom: 10px;
  display: inline;
}

.submenu .navlink {
  margin-left: 20px; /* Atur margin kiri submenu item */
}

/* Gaya untuk tautan submenu */
.submenu .nav-link,
.submenu .nav-link:visited {
  color: #665b5b; /* Warna teks submenu dan submenu yang sudah dikunjungi */
  text-decoration: none;
  transition: color 0.1s ease;
}

/* Gaya untuk tautan submenu saat dihover */
.submenu .nav-link:hover {
  color: #665b5b;
}

.logo-sidebar {
  width: 20px;
  height: auto;
  margin-right: 10px;
}
/*------------------------------------------------------------------------------------*/
.content-box {
  width: 70%; /* Mengatur lebar konten box */
  margin-left: 5%; /* Mengatur margin kiri agar konten terpusat */
  margin-bottom: auto;
  margin-top: 30px;
  padding: 20px; /* Mengatur ruang dalam konten box */
  background-color: #ffffff;
  border-radius: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px #6da0ed;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px #6da0ed;
}

.card-title {
  font-size: 1.5rem;
  color: #007bff;
}

.card-text {
  font-size: 1.2rem;
}

.custom-btn {
  background-color: #d9d9d9;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-box {
  background-color: #75b1da;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  height: 80px;
  text-align: center;
  line-height: 1;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}
.info-box:hover {
  background-color: #2980b9; /* Warna latar belakang saat hover */
  transition: background-color 0.3s ease; /* Efek transisi saat perubahan warna latar belakang */
}

.user-container {
  display: flex;
  align-items: center;
}

p {
  margin: 0; /* Atur margin menjadi 0 agar tidak ada margin atas dan bawah */
}

.username {
  margin-right: 10px;
  font-size: 16px;
}

.logout {
  margin-left: auto; /* Ini akan membuat elemen "Logout" berada di sebelah kanan */
}
