body {
  background-color: #edf2f4;
  margin: 0;
  overflow-x: auto;
}

/* -----------------------NAVBAR------------------------------ */
.navbar {
  background-color: #e2eef3;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  line-height: 33px;
  color: #000000;
  margin-left: 10px;
}

.navbar-brand-judul {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #181717;
  text-decoration: none;
  text-align: center;
  margin-bottom: 0;
}

.navbar-brand-admin {
  margin-left: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 33px;
  color: #665b5b;
  text-align: center;
}

.logo-stmik {
  max-width: 70%;
  height: auto;
  margin-right: 5px;
}

/* Responsive rules for smaller screens */
@media (max-width: 767px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .navbar-brand {
    margin-left: 0;
  }

  .navbar-brand-admin {
    margin-left: 0;
  }

  .logo-stmik {
    margin: 0 auto 10px;
  }
}

/* Styles for larger screens */
@media (min-width: 768px) {
  .navbar-brand-judul {
    margin-right: 20px;
    text-align: left;
  }

  .navbar-brand-admin {
    margin-left: 10px;
    text-align: right;
  }
}

/* -----------------------SIDEBAR------------------------------ */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 0 0 220px;
  position: sticky;
  top: 0;
  bottom: 0;
}

.nav-item {
  margin-bottom: 10px;
  position: relative;
  color: #665b5b;
}

.nav-link {
  display: block;
  padding: 10px 20px;
  transition: background-color 0.1s ease;
  text-decoration: none;
  color: #665b5b;
}

.nav-link:visited {
  color: #665b5b;
  text-decoration: none;
  transition: color 0.1s ease;
}

.nav-link:hover {
  background-color: #e2eef3;
  color: #665b5b;
}

.submenu {
  display: none;
  padding-left: 20px;
}

.nav-item:hover .submenu {
  display: block;
}

.submenu .nav-item {
  margin-bottom: 10px;
  display: inline;
}

.submenu .nav-link {
  margin-left: 20px;
}

.submenu .nav-link,
.submenu .nav-link:visited {
  color: #665b5b;
  text-decoration: none;
  transition: color 0.1s ease;
}

.submenu .nav-link:hover {
  color: #665b5b;
}

.logo-sidebar {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

/* Responsive styles for smaller screens */
@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    position: static;
    box-shadow: none;
  }

  .nav-link {
    padding: 10px;
  }

  .submenu {
    padding-left: 10px;
  }

  .nav-item {
    margin-bottom: 5px;
  }

  .submenu .nav-link {
    margin-left: 10px;
  }

  .logo-sidebar {
    width: 15px;
    margin-right: 5px;
  }
}

/* -----------------------CONTENT BOX------------------------------ */
/* Styling for small screens */
@media (max-width: 767px) {
  .content-box {
    width: 90%;
    margin-top: 20px; /* Adjust the value as needed */
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
  }

  .row {
    flex-direction: column;
  }

  .col-md-6 {
    width: 100%;
  }
}

/* Styling for larger screens */
@media (min-width: 768px) {
  .content-box {
    width: 70%;
    margin-top: 20px; /* Adjust the value as needed */
    margin-left: 5%;
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
  }

  .row {
    flex-direction: row;
  }

  .col-md-6 {
    width: 50%;
  }
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px #6da0ed;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px #6da0ed;
}

.card-title {
  font-size: 1.5rem;
  color: #007bff;
}

.card-text {
  font-size: 1.2rem;
}

.custom-btn {
  background-color: #d9d9d9;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-box {
  background-color: #edf0f1;
  color: #0e0d0d;
  padding: 10px;
  width: 200px;
  height: 100px;
  text-align: center;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
}

/* .table {
  width: 100%;
  font-size: 14px;
  margin-top: 20px;
} */

.row.mb-3 {
  margin-bottom: 50px; /* Adjust the value as needed to create space between the table and search */
}

th:last-child {
  width: 20%;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  height: 10%;
}

.btn-primary {
  background-color: #e2eef3;
  border-color: #e2eef3;
  color: #665b5b;
  font-size: 15px;
  font-weight: bold;
  width: auto;
  height: auto;
  transition: color 0.1s ease;
}

/* .form-select {
  font-size: 15px;
  height: 40px;
  width: 90px;
  display: inline-block;
  margin-top: 30px;
  margin-right: 10px;
} */

.input-group {
  margin-top: 30px;
  width: 200px;
  height: auto;
  margin-left: auto;
}

.input-group input[type="text"] {
  font-size: 15px;
  height: 40px;
  background-color: white;
  color: #665b5b;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.input-group button {
  font-size: 15px;
  height: 40px;
  background-color: #e2eef3;
  color: #665b5b;
  border: none;
  border-radius: 5px;
  margin-left: -1px;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.input-group:hover button {
  background-color: blue;
  color: white;
}

td .btn-primary,
td .btn-danger {
  margin-top: 3px;
  height: 30px;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}

/* #aset {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
} */

/* #aset th,
#aset td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
} */

/* #aset th {
  background-color: #f2f2f2;
}

#aset tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#aset tbody tr:hover {
  background-color: #d9edf7;
  cursor: pointer;
} */

button {
  background-color: #4c77af;
  color: #fff;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.form-group input[type="submit"]:hover {
  background-color: #0056b3;
}

.wrapper {
  width: 100%;
  margin: 0 0 20px;
}

.select-btn {
  height: 50px;
  width: 100%;
  padding: 0 20px;
  font-size: 17px;
  background: #fff;
  border-radius: 5px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.options {
  max-height: 200px;
}

.select-btn i {
  font-size: 24px;
  transition: transform 0.3s linear;
}

.wrapper.active .select-btn i {
  transform: rotate(-180deg);
}

.content .search {
  position: relative;
}

.search i {
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}

.search input {
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #b3b3b3;
}

.search input:focus {
  padding-left: 42px;
  border: 2px solid #4285f4;
}

.search input::placeholder {
  color: #bfbfbf;
}

.content .options {
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}

.options::-webkit-scrollbar {
  width: 7px;
}

.options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.options::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

.options li {
  height: 50px;
  padding: 0 13px;
  font-size: 17px;
}

.options li:hover,
li.selected {
  border-radius: 5px;
  background: #f2f2f2;
}

.user-container {
  display: flex;
  align-items: center;
}

p {
  margin: 0;
}

.username {
  margin-right: 10px;
  font-size: 16px;
}

.logout {
  margin-left: auto;
}

canvas {
  max-width: 100%;
  height: auto;
  width: auto\9;
}
